<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180494908532-3cg4go5alff27lj43tk5hmlj6qkr9egp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180494908532-3cg4go5alff27lj43tk5hmlj6qkr9egp</string>
	<key>API_KEY</key>
	<string>AIzaSyAoC4sk1IjMMesb_YRC2BQdYywrzBPNhlo</string>
	<key>GCM_SENDER_ID</key>
	<string>180494908532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hl.messenger.dev</string>
	<key>PROJECT_ID</key>
	<string>testpush-d9158</string>
	<key>STORAGE_BUCKET</key>
	<string>testpush-d9158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180494908532:ios:7142962ff112c3ea4de521</string>
	<key>DATABASE_URL</key>
	<string>https://testpush-d9158.firebaseio.com</string>
</dict>
</plist>